# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db