.dashboard-container{
    width:90%;
    margin:auto;
    padding:30px 0;
}

.dashboard-title{
    text-align:center;
    color:#1f2937;
    font-size:36px;
    margin-bottom:35px;
    font-weight:700;
}

.section{
    background:white;
    padding:25px;
    margin-top:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.section h2{
    margin-bottom:20px;
    color:#2563eb;
}